@charset "UTF-08";

body{
    background-color: rgba(0,0,0,.7);
    background: url('img/pub.jpg') no-repeat;
    background-size:cover;
}

#fundo-escuro{
    display: block;
    position: absolute;
    background-color:rgba(0,0,0,.4);
    width:100%;
    height: 100%;
    margin:-8px 0px 0px -8px;
}

#fundo{
    display: none;
    position: relative;
    background-color: rgba(0,0,0,.9);
    border-radius: 300px;
    border: 6px solid orange;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,.5);
    width: 310px;
    height: 300px;
    margin: 14% auto 0px;
}

.fechar{
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,.9);
    border-radius:100px;
    border:6px solid orange;
    padding: 10px;
    width: 12px;
    height: 14px;
    text-align: center;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

#fundo-tela p{
    display: block;
    position: absolute;
    text-align: center;
    margin: 52px 0px 0px 50px;
    color:red;
    font-weight: bold;
}

#fundo-tela .login, .senha, .botao{
    margin-top: 6px;
    border-radius: 6px;
}

.login:hover, .senha:hover{
    background-color: silver;
}

.botao{
    position: absolute;
    padding: 4px;
    margin-left: -28px;
    transition: all .1s ease-in-out;
}

.botao:hover{
    font-weight: bold;
    transform: scale(1.1);
    border:3px solid orange;
}

.link{
    text-decoration: none;
	color: red;
}

.link:hover{
   font-weight: bold;
   text-decoration: underline;
}

#login{
    display: block;
    position: absolute;
    left: 88%;
}

.abrir{
    text-decoration: none;
    color:white;
}

h1{
    background-color:rgba(0,0,0,.6);
    padding: 4px;
    border:5px solid orange;
}